bin/Debug/netcoreapp2.1/api-relatorio-transacoes.dll
bin/Debug/netcoreapp2.1/api-relatorio-transacoes.pdb
bin/Debug/netcoreapp2.1/api-relatorio-transacoes.deps.json
obj/Debug/netcoreapp2.1/api-relatorio-transacoes.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/api-relatorio-transacoes.runtimeconfig.json
bin/Debug/netcoreapp2.1/api-relatorio-transacoes.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/api-relatorio-transacoes.dll
obj/Debug/netcoreapp2.1/api-relatorio-transacoes.pdb
obj/Debug/netcoreapp2.1/api-relatorio-transacoes.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.1/api-relatorio-transacoes.csproj.FileListAbsolute.txt
